.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.git/**
.github/**
.yarnrc
.npmrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
tsconfig.*.json
**/eslint.config.mjs
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
markdown/**
src/test/**
.nyc_output/**
coverage/**
*.log
package-lock.json

# Explicitly do not ignore these directories
!schemas/**
!media/**
!scripts/**